{% load static %}

<nav class="navbar navbar-expand-lg bg-white bg-default sticky-top border-bottom">
    <div class="container">

        <a class="navbar-brand m-0" href="#">
                <img class="float-left mt--1" style=" height: 60px; " src="{% static "core/img/favicons/dandy-organizer-192.png" %}">
                <div class="display-3 float-left ml-3 d-none d-sm-block" style="color: #005F74;">
                    {{ software.name }}
                </div>
                <div class="display float-left ml-3 d-block d-sm-none mt-3" style="color: #005F74;">
                    {{ software.name }}
                </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default"
                aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse border-none" id="navbar-default">
            <div class="navbar-collapse-header mb-0 pb-0 border-bottom-0">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="#">
                            <img src="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>

            <ul class="navbar-nav ml-lg-auto my-3 my-lg-0 mr-1">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        What is this?
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        Features
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="#">
                        Pricing
                    </a>
                </li>
            </ul>
            <a href="{% url "account_signup" %}" class="btn btn-outline-primary mr-3">
                Signup
            </a>
            <a href="{% url "account_login" %}" class="btn btn-outline-success">
                Login
            </a>

        </div>
    </div>
</nav>