{% load static %}
{% load webpush_notifications %}
{% load pwa %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ software.description }}">
    <meta name="author" content="{{ software.author }}">

    {% include 'core/meta/meta_icons.html' %}

    {% progressive_web_app_meta %}

    {% webpush_header %}

    <title>
        {% block base_title %}
            {{ software.name }}
        {% endblock %}
    </title>

    <!-- Favicon -->
    <link rel="icon" href="../../assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'core/vendor/nucleo/css/nucleo.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'core/vendor/@fortawesome/fontawesome-free/css/all.min.css' %}"
          type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="{% static 'core/css/argon.css' %}?v=1.2.0" type="text/css">
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}" type="text/css">
    {% include 'core/style/style_css.html' %}
</head>

<body>
{% block base_body %}
{% endblock %}
<!-- Argon Scripts -->
<!-- Core -->
<script src="{% static 'core/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'core/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/vendor/js-cookie/js.cookie.js' %}"></script>
<script src="{% static 'core/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'core/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>
<!-- Optional JS -->
<script src="{% static 'core/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'core/vendor/chart.js/dist/Chart.extension.js' %}"></script>
<!-- Argon JS -->
<script src="{% static 'core/js/argon.js' %}?v=1.2.0"></script>
<script src="https://unpkg.com/swup@latest/dist/swup.js"></script>

<script type="application/javascript">
  const swup = new Swup();

  function fadeOutEffect() {
    var fadeTarget = document.getElementById("swup");
    var fadeEffect = setInterval(function () {
      if (!fadeTarget.style.opacity) {
        fadeTarget.style.opacity = 1;
      }
      if (fadeTarget.style.opacity > 0) {
        fadeTarget.style.opacity -= 0.1;
      } else {
        clearInterval(fadeEffect);
      }
    }, 40);
  }

  function init() {
    document.querySelectorAll('[data-href]').forEach(function (element) {
      element.addEventListener('click', function (event) {
        swup.loadPage({url: event.target.dataset.href});
      });
    });

    document.querySelectorAll('form').forEach(function (element) {
      element.addEventListener('submit', fadeOutEffect);
    });

  }

  init()

  swup.on('contentReplaced', init);


</script>

</body>

</html>