{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicons/favicon-16x16.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicons/favicon.ico' %}">
<link rel="manifest" href="{% static 'core/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'core/img/favicons/mstile-150x150.png' %}">
<meta name="theme-color" content="#ffffff">