{% load static %}

<link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
<link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
<link rel="manifest" href="{% static 'core/manifest.json' %}">
<meta name="msapplication-TileImage" content="{% static 'core/img/favicons/dandy-organizer-192.png' %}">
<meta name="theme-color" content="#ffffff">