<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <span class="navbar-brand pl-4 mt--2 pr-0">
                <h2 class="org-main-color text-nowrap overflow-hidden">{{ software.name}}</h2>
            </span>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block mt--3" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner" style="margin-top: -36px; ">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    {% include 'welcome/navigation/navigation_welcome_block.html' with control='welcome' %}
                    {% include 'finance/navigation/navigation_finance_block.html'%}
                    {% include 'list/navigation/navigation_list_block.html'%}
                    {% include 'note/navigation/navigation_note_block.html'%}
                    {% include 'people/navigation/navigation_people_block.html' with control='people' %}
                    {% include 'task/navigation/navigation_task_block.html'%}
                </ul>

                {% include 'core/navigation/navigation_divider.html' %}

                <ul class="navbar-nav mb-md-3">
                    {% url 'welcome' as the_url %}
                    {% include 'core/navigation/navigation_href_link.html' with text='Help' icon='fas fa-question-circle' href=the_url %}
                </ul>
            </div>
        </div>
    </div>
</nav>

