<!-- Sidenav -->
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
        <!-- Brand -->
        <div class="sidenav-header  d-flex  align-items-center">
            <a class="navbar-brand pl-3" href="{% url 'welcome' %}">
                <h3>Dandy Organizer</h3>
            </a>
            <div class="ml-auto">
                <!-- Sidenav toggler -->
                <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
                    <div class="sidenav-toggler-inner">
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                        <i class="sidenav-toggler-line"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    {% include 'welcome/navigation/navigation_welcome_block.html' with control='welcome' %}
                    {% include 'people/navigation/navigation_people_block.html' with control='people' %}
                </ul>

                {% include 'core/navigation/navigation_divider.html' %}

                <ul class="navbar-nav mb-md-3">
                    {% url 'welcome' as the_url %}
                    {% include 'core/navigation/navigation_href_link.html' with text='Help' icon='fas fa-question-circle' href=the_url %}
                </ul>
            </div>
        </div>
    </div>
</nav>

