{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'core/meta/meta_icons.html' %}
    {% block meta %}
    {% endblock %}

    <title>
        {% block base_title %}
            {{ software.name }}
        {% endblock %}
    </title>

    <!-- Favicon -->
    <link href="{% static 'landing/img/brand/favicon.png' %}" rel="icon" type="image/png">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="{% static 'core/vendor/nucleo/css/nucleo.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Argon Design System PRO CSS -->
    <link type="text/css" href="{% static 'landing/css/argon-design-system.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'landing/css/base.css' %}" rel="stylesheet">

    {% block css_include %}
    {% endblock %}

    {% block css_style %}
    {% endblock %}

</head>

<body>

{% block base_body %}
{% endblock %}

<!--   Core JS Files   -->
<script src="{% static 'landing/js/core/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'landing/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'landing/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'landing/js/plugins/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'landing/js/plugins/moment.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'landing/js/plugins/bootstrap-switch.js' %}"></script>
<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="{% static 'landing/js/plugins/nouislider.min.js' %}"></script>
<!--  Plugin for the Carousel, full documentation here: http://jedrzejchalubek.com/  -->
<script src="{% static 'landing/js/plugins/glide.js' %}"></script>
<!--	Plugin for Select, full documentation here: https://joshuajohnson.co.uk/Choices/ -->
<script src="{% static 'landing/js/plugins/choices.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'landing/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Plugin for the DateTimePicker, full documentation here: https://flatpickr.js.org/ -->
<script src="{% static 'landing/js/plugins/datetimepicker.js' %}"></script>
<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="{% static 'landing/js/plugins/bootstrap-tagsinput.js' %}"></script>
<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{% static 'landing/js/plugins/jasny-bootstrap.min.js' %}"></script>
<!-- Plugin for Headrom, full documentation here: https://wicky.nillia.ms/headroom.js/  -->
<script src="{% static 'landing/js/plugins/headroom.min.js' %}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" type="text/javascript" ></script>
<!-- Control Center for Argon Design System: parallax effects, scripts for the example pages etc -->
<script src="{% static 'landing/js/argon-design-system.js' %}" type="text/javascript"></script>

<script src="{% static 'landing/js/base.js' %}" type="text/javascript"></script>

{% block js_include %}
{% endblock %}

{% block js_script %}
{% endblock %}

</body>

</html>